.loginContainer {
    
    height: 100vh;
    
    display: flex;
    flex-direction: column;
   
    background: var(--blue);
    color: #FFFFFF;

}

.loginContainer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10rem;
}

.loginGithub {
    display: flex;
    align-items: center;

    margin-top: 2rem;
}

.loginGithub > img {
    margin-right: 1rem;
}

.loginGithub > p {
    font-size: 1rem;
    width: 20rem;
}
